import("modelObj",
       "methods", "kernlab", "rgenoud"
)
importFrom("stats", 
           "as.formula", "model.matrix", "optim", "pnorm", "qqline",
           "qqnorm", "rnorm", "runif", "sd", "terms")
importFrom("dfoptim", "hjk")

export(
    "buildModelObjSubset",
    "iqLearnFSV",
    "iqLearnFSM",  
    "iqLearnFSC",  
    "iqLearnSS",  
    "optimalSeq", 
    "optimalClass", 
    "owl",
    "rwl",
    "bowl",
    "earl",
    "plugInValue",
    "qLearn"
)
exportClasses("DynTxRegime")
exportMethods(
    "classif",
    "coef",
    "cvInfo",
    "DTRstep",
    "estimator",
    "fitObject",
    "fittedMain",
    "fittedCont",
    "genetic",
    "optimObj",
    "optTx",
    "outcome",
    "print",
    "plot",
    "propen",
    "qqplot",
    "regimeCoef",
    "residuals",
    "show",
    "sd",
    "summary"
)

